/* body */

body{
    background: linear-gradient(to right, #92FE9D, #00C9FF);
}

/* main container */

#main_container{
    border: 1rem solid #1bafa9;
    border-radius: 4rem;
    margin: 2% 5%;
    width: auto;
    height: 86vh;
}

/* current time */

#current_time{
    text-align: center;
    margin-top: 2%;
    font-size: 4rem;
    font-family: cursive;
    color: white;
}

@media screen and (max-width:550px) {
    #current_time{
        font-size: 2.5rem;
    }   
}

/* alarm setter */
#alarm_container{
    margin: -2% 20%;
    width: auto;
}

@media screen and (max-width: 770px) {
    #alarm_container{
        margin: -2% 5%;
    }   
}

#alarm_container #alarm_label{
    border: none;
    padding: 10px;
    text-indent: 10px;
    font-size: 1.25rem;
    border-radius: 2rem;
}

@media screen and (max-width: 770px) {
    #alarm_container #alarm_label{
        padding: 0px;
    }   
}

#alarm_container #alarm_label:focus{
    outline: none;
}

#alarm_container #hours_menu, #mins_menu, #secs_menu, #meridian_menu{
    border: none;
    padding: 10px;
    font-size: 1.25rem;
}

@media screen and (max-width: 770px) {
    #alarm_container #hours_menu, #mins_menu, #secs_menu, #meridian_menu{
        padding: 0px;
    }   
}

#alarm_container #set_alarm{
    cursor: pointer;
    border: none;
    outline: none;
    padding: 15px;
    font-size: 1.25rem;
    border-radius: 1rem;
    background: white;
    color: cornflowerblue;
}

#alarm_container #set_alarm:hover{
    color: white;
    background: linear-gradient(to right, #373B44, #4286f4);
}

/* alarms list  */

#alarms{
    margin: 5% 10%;
    height: 20rem;
    width: auto;
    overflow-x: hidden;
    overflow-y: scroll;
    border-radius: 10px;
    background: linear-gradient(to right, #a1ffce, #faffd1);
}

@media screen and (max-width: 770px){
    #alarms{
        height: 16rem;
    }   
}

#alarms_list .alarm_info{
    width: 55rem; 
    font-size: 1.25rem; 
    font-weight: bold; 
    font-family: cursive; 
    border-bottom: 1px solid #a9a0a0;
}

@media screen and (max-width:770px) {
    #alarms_list .alarm_info{
        font-size: 1rem;
    }   
}

#alarms_list .del_btn{
    color: red; 
    cursor: pointer;
    width: 5rem; 
    font-size: 1.25rem; 
    text-align: center; 
    border-bottom: 1px solid #a9a0a0;
}

@media screen and (max-width:770px) {
    #alarms_list .del_btn{
        font-size: 1rem;
    }   
}

/* customizing scrollbar */

::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgb(23 21 21);
  }
  